body {
	font-family: 'Raleway', sans-serif;
}

.mainbackground {
	background-image:url(images/image2.png);
}
/*.navbar {
	background-color: white;
}*/

#name {
	font-size: 65px;
	font-weight: 400;
	color: black;
	padding-left: 20px;
}

#socialMedia li {
	display: inline;
	text-decoration: none;
	padding-left: 40px;
}

#socialMedia {
	margin-top: 40px;
	text-align: right;
}

#socialMedia img {
	width: 45px;
	height: 45px; 
	object-fit: cover;
}

#nav li {
 	display: inline;
	text-decoration: none;
	padding-left: 50px;
 }

#nav a {
	text-decoration: none;
	color: black;
}

#nav {
 	text-align: center;
 	margin-top: 20px;
 	font-size: 30px;
 	color: black;
 	/*border-bottom: 1px solid white;
 	padding-bottom: 20px;*/
 }

#video {
	margin-top: 250px;
	margin-left: 20px;
}
.quote {
 	text-decoration: none;
 	display: inline-block;
 	font-size: 32px;
 	padding-top: 20px;
 	color: black;
 }
 #contactPhoto {
 	width: 500px;
 	height: 500px;
 	border-radius: 5px;
 	border: 1px solid black;
 	float: left;
 }
 .contact {
 	background: linear-gradient(to bottom, #ffffff 0%, #99ccff 100%);
 }
 .contactInfo {
 	text-align: center;
 }
 #aboutPhoto {
 	width: 430px;
 	height: 500px;
 	border-radius: 5px;
 	border: 1px solid black;
 	float: left;
 }
 .about {
 	background: linear-gradient(to bottom, #ffffff 0%, #99ccff 100%);
 }